body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image: url('https://img.freepik.com/premium-photo/grey-background-with-texture_979387-1121.jpg');

}

.header {
  display: flex;
  justify-content: space-between; /* Place items at opposite ends */
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header-title {
  flex-grow: 1; /* Allow the title to grow and take up available space */
  text-align: center; /* Center align the title */
  font-size:x-large
}

.signout-button {
  background-color: transparent;
  color: #ff3333; /* Red color */
  padding: 8px 12px; /* Adjusted padding */
  border: 2px solid #ff3333; /* Red border */
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px; /* Add margin to the right */
  font-size: 16px; /* Larger font size */
  max-width: 10pc;
}

.signout-button:hover {
  background-color: #ff3333; /* Red color on hover */
  color: white;
}



.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  position: fixed; /* Fix the position of the footer */
  bottom: 0; /* Position the footer at the bottom of the viewport */
  width: 100%; /* Make the footer span the entire width */
  z-index: 1000; /* Set a high z-index to ensure it's above other elements */
}

.home-container {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  height: calc(100vh - 80px); /* Subtract header and footer heights */
  padding-bottom: 10px; /* Add padding at the bottom to avoid overlapping with the footer */
}

.wow:hover {
  transform: scale(1.02);
}

/* Reduce opacity of the containers */
.friends, .feed, .messages {
  padding: 30px;
  opacity: 1; /* Reduce opacity */
  border-bottom: none; /* Remove border from the bottom */
}

/* Set flex properties for containers */
.friends {
  flex: 1;
}

.feed {
  flex: 2;
}

.messages {
  flex: 1;
}
